h1{
    font-size: $fontSize-h1;
    font-weight: 900;
}

h2{
    font-size: $fontSize-h2;
    font-weight: 700;
}

h3{
    font-size: $fontSize-h3;
}

h4{
    font-size: $fontSize-h4;
}

h5{
    font-size: $fontSize-h5;
}

p{
    font-size: $fontSize-p;
}

a{
    font-size: $fontSize-a;
}

ul li{
    font-size: $font-size-li;
}


